* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
select:active,
select:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.container {
  max-width: 1300px;
  margin: 50px auto;
}
